body{
    background-color: aqua;
    width: 1000px;
    height: 960px;
}
#nemo-container {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
  }

  #nemo {
    position: relative;
    top: 0;
    transition: transform 0.5s ese; 
    cursor: pointer;
  }
.bubble{
    position:relative;
    height: 100%;
}
.bubble span{
    display: inline-block;
    position: absolute;
    box-shadow: 0 0 20px rgb(25, 24, 24) ;
    border-radius: 50%;
    opacity: 40;
    background-color: azure;
}
@keyframes bubbleup{
    from{
        bottom:0px;
    }
    to{
        bottom:100%;
    }
}

.bubble span:nth-child(1){
    animation: bubbleup 3s linear infinite;
      height: 20px;
    width: 20px;
    bottom: 70px;

}
.bubble span:nth-child(2){
    animation: bubbleup 4s linear infinite;
      height: 20px;
    width: 20px;
    bottom: 0;

    left: 100px;

}.bubble span:nth-child(3){
    animation: bubbleup 5s linear infinite;
      height: 20px;
    width: 20px;
    bottom: 100px;
    left :200px

}.bubble span:nth-child(4){
    animation: bubbleup 3s linear infinite;
      height: 50px;
    width: 60px;
    bottom: 500px;
    left:25%;

}.bubble span:nth-child(5){
    animation: bubbleup 7s linear infinite;
      height: 70px;
    width: 70px;
    bottom: 0;
    left :40%;

}.bubble span:nth-child(6){
    animation: bubbleup 3s linear infinite;
      height: 40px;
    width: 40px;
    bottom: 0;
    left:65%

}.bubble span:nth-child(7){
    animation: bubbleup 10s linear infinite;
      height: 20px;
    width: 20px;
    bottom: 0;
    left :67%;
}.bubble span:nth-child(8){
    animation: bubbleup 5s linear infinite;
      height: 50px;
    width: 50px;
    bottom: 0;
    left :70%
}
.bubble span:nth-child(16){
    animation: bubbleup 3s linear infinite;
      height: 20px;
    width: 20px;
    bottom:- 70px;
}
.bubble span:nth-child(9){
    animation: bubbleup 4s linear infinite;
      height: 20px;
    width: 20px;
    bottom: 0;

    right:- 100px;

}.bubble span:nth-child(10){
    animation: bubbleup 5s linear infinite;
      height: 20px;
    width: 20px;
    bottom: 100px;
    right :-200px

}.bubble span:nth-child(11){
    animation: bubbleup 3s linear infinite;
      height: 50px;
    width: 60px;
    bottom: 500px;
    right:-25%;

}.bubble span:nth-child(12){
    animation: bubbleup 7s linear infinite;
      height: 70px;
    width: 70px;
    bottom: 0;
    right :-40%;

}.bubble span:nth-child(13){
    animation: bubbleup 3s linear infinite;
      height: 40px;
    width: 40px;
    bottom: 0;
    left:-70%

}.bubble span:nth-child(14){
    animation: bubbleup 10s linear infinite;
      height: 20px;
    width: 20px;
    bottom: 0;
    right :-67%;
}.bubble span:nth-child(15){
    animation: bubbleup 5s linear infinite;
      height: 50px;
    width: 50px;
    bottom: 0;
    right :-70%

}
.bubble span:nth-child(17){
    animation: bubbleup 5s linear infinite;
      height: 150px;
    width: 150px;
    bottom: 0;
    right :0%

}
.bubble span:nth-child(18){
    animation: bubbleup 7s linear infinite;
      height: 80px;
    width: 80px;
    bottom: 0;
    right :-35%

}
.bubble span:nth-child(19){
    animation: bubbleup 14s linear infinite;
      height: 250px;
    width: 250px;
    bottom: 0;
    right :-85%

}
.bubble span:nth-child(20){
    animation: bubbleup 4s linear infinite;
      height: 100px;
    width: 100px;
    bottom: 0;
    right :-90%

}.bubble span:nth-child(21){
    animation: bubbleup 6s linear infinite;
      height: 90px;
    width: 100px;
    bottom: 0;
    right :-95%

}.bubble span:nth-child(22){
    animation: bubbleup 3s linear infinite;
      height: 50px;
    width: 50px;
    bottom: 0;
    right :-83%

}
